
svg {
    border : 1px solid grey;
    margin-top: 3%;
}

.axis-label{
    font-size: 20px;
     text-anchor: "middle";
     fill : grey;
}

.x.axis text{
    text-anchor: end;
    font-weight: bold;
    transform: rotate(-40deg);
    fill: grey;
}

.y.axis text{
    text-anchor: end;
    font-weight: bold;
    fill: grey;
}

.companyDetails {
    font-weight: bold;
    color: grey;
}

#chart-data {
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

.close {
    fill:none;
    stroke: black;
    stroke-width: 2px;
}

.sma {
    fill:none;
    stroke: blue;
    stroke-width: 2px;
}

#slider-container {
    position: relative;
    height:30px;
    width: 1200px;
    margin :10px 0;
}

.box-container {
    display: flex;
    justify-items: center;
}

.box-container input {
   margin-left: 20px;
}